/* Definição das cores principais */
:root {
    --cor-primaria: #0057b8; /* Azul */
    --cor-secundaria: #ffcc00; /* Amarelo */
    --cor-fundo: #f4f4f4; /* Cinza claro */
    --cor-texto: #333; /* Cinza escuro */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define altura da tela */
    text-align: center;
}

h2 {
    color: var(--cor-primaria);
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6b800; /* Alteração de cor ao passar o mouse */
}

/* Estilo para o formulário */
form {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Estilo para o resultado */
h3 {
    margin-top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--cor-primaria);
}
